@model QuizMakeViewModel

<h1 style ="text-align : center">Resulat du quiz : @Model.Quiz.Name</h1>
<h2 style ="text-align : center">Note obtenue : @Model.Note / 20</h2>
<div class="container">
    
@foreach(var question in Model.Quiz.Questions)
{
    <div id="quizReponse" class="m-3 p-3 row">
            <h2>@question.ContentQuestion</h2>
            <hr style="width: 97%;"/ >
             <div class="col-md-6">
            <h5>Réponse possible :</h5>
            <ul>
            @foreach(var rep in @question.AnswerChoice)
            {
                if (rep.IsCorrect)
                {
                                <li style="color:green">@rep.ContentCorection <input type="checkbox" checked="@rep.IsCorrect" disabled="disabled" /> </li> 
                }
                else
                {
                    <li style="color:red"> @rep.ContentCorection</li>
                }
            }
            </ul>
        </div>
        <div class="col-md-6">
            <h5>Les réponses du candidat :</h5>
            @foreach(var rep in @question.AnswerChoice)
            {
                @foreach (var repUser in Model.answerUser)
                {
                    if (rep.CorrectionId == repUser.choiceIdUser)
                    {
                        <p>@rep.ContentCorection</p>
                        @if (repUser.IsBonnrep)
                        {
                            <p>Bonne réponse ✅</p>
                        }
                    }
                }
            }
        </div>
    </div>
}

</div>

