@model List<QuizMakeViewModel>
<h1 style="text-align : center">Quiz réalisé </h1>

<div class="container" style="margin-top: 100px;">
<table class="table">
    <thead>
        <tr class="table table-primary">
            <th>
                Nom du quiz
            </th>
            <th>
                Level du Quiz
            </th>
            <th>
                Sujet du Quiz
            </th>
            <th>
                Nom du candidat
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
 @foreach (var oneQuiz in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => oneQuiz.Quiz.Name)
                    </td>
                   <td>
                    @Html.DisplayFor(modelItem => oneQuiz.Quiz.Level.LevelName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => oneQuiz.Quiz.Sujet.SujetName)
                    </td>
                    <td>
                   @* @Html.DisplayFor(modelItem => oneQuiz.Quiz.Questions.Count())*@
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@oneQuiz.Quiz.QuizzId" class="buttonAjout"> Voir résultat </a>
                    </td>
                </tr>
            }    
    </tbody>
</table>

</div>
