
@using FilRouge_Test_CodeFirst.Models

@model QuizPassageViewModel;

@{
    ViewData["Title"] = "Passage";
}

<h3>Questions @Model.ContentQuestion</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Passage" asp-action="PassageQuiz" asp-route-id="@Model.QuizzId" asp-route-questionId="@Model.QuestionId">
            @foreach(var reponse in Model.AnswerChoice)
            {
                <div class="form-group">
                    <input type="checkbox" name="@reponse.CorrectionId">
                    <label for="@reponse.CorrectionId" class="control-label">@reponse.ContentCorection</label>
                </div>
            }
            <div class="form-group">
                <input type="hidden" name="@Model.NextQuestionId" value="@Model.NextQuestionId"/>
                <input type="submit" value="Suivant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

