
@using FilRouge_Test_CodeFirst.Models


@model List<QuizPassageViewModel>;



<form asp-controller="Passage" asp-action="PassageQuiz" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @foreach (var question in @Model) 
    {
        <div>
            <h4>@question.ContentQuestion</h4>
        </div>

        for (var checkanwers = 0; checkanwers < question.AnswerChoice.Count(); checkanwers++)
        {
            <input type="checkbox" asp-for="@question.IsCorrect" class="form-check-input"  name="ListCheckChoice"   />


            <label class="form-check-label" asp-for="@question.IsCorrect" >
                @question.AnswerChoice[checkanwers].ContentCorection
             </label>



                <br />

            <input type="hidden" asp-for="@question.AnswerChoice[checkanwers].ContentCorection" />
            <input type="hidden" asp-for="@question.AnswerChoice[checkanwers].CorrectionId" />

        }

        <button type="button" class="btn btn-dark">Suivant>></button>


            <input type="hidden" asp-for="@question.ContentQuestion" />
            <input type="hidden" asp-for="@question.QuestionId" />
    }       
    
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Valider" asp-action="PassageQuiz" />
    </div>


</form>