
@using FilRouge_Test_CodeFirst.Models


@model QuizPassageViewModel;



@*<form asp-controller="Passage" asp-action="PassageQuiz" method="post">


    @foreach (var question in @Model) 
    {
        <div>
            <h4>@question.ContentQuestion</h4>
        </div>

        for (var checkanwers = 0; checkanwers < question.AnswerChoice.Count(); checkanwers++)
        {
            <input type="checkbox" asp-for="@question.IsCorrect" class="form-check-input"  name="ListCheckChoice"   />


            <label class="form-check-label" asp-for="@question.IsCorrect" >
                @question.AnswerChoice[checkanwers].ContentCorection
             </label>


                <br />
         
        }

        <button type="button" class="btn btn-dark">Suivant>></button>


    }       
    
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Valider" asp-action="PassageQuiz" />
    </div>


</form>
*@


@{
    ViewData["Title"] = "Index";
}


<h3>Questions @Model.ContentQuestion</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-route-id="@Model.QuizzId" asp-route-questionId="@Model.QuestionId">
            @foreach(var reponse in Model.AnswerChoice)
            {
                <div class="form-group">
                    <input type="checkbox" name="@reponse.CorrectionId" checked="@reponse.IsCorrect">
                    <label for="@reponse.CorrectionId" class="control-label">@reponse.ContentCorection</label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Suivant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}