@using Microsoft.AspNetCore.Identity
@using FilRouge_Test_CodeFirst.Data
@using FilRouge_Test_CodeFirst.Models

@{
    Layout = "passageWelcome.cshtml";
}

@model QuizPassageViewModel;  

<div class="d-flex vh-100" id="boxLogIn">
    <div class="col-md-4">
        <section id="bienvenuBorder" class="shadow-lg p-4">
            <h1 style="text-align : center"> Validation</h1>
            <br/>
        
        <form asp-action="Validation" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                <label asp-for="@Model.IdentityCandidat.UserName" class="control-label">Votre nom</label>
                <input asp-for="@Model.IdentityCandidat.UserName" class="form-control" required />
                <span asp-validation-for="@Model.IdentityCandidat.UserName" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                <label asp-for="@Model.IdentityCandidat.Email" class="control-label">Votre email</label>
                <input asp-for="@Model.IdentityCandidat.Email" class="form-control" type="email" required />
                <span asp-validation-for="@Model.IdentityCandidat.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Code" class="control-label">Votre code de validation</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="form-group">

                    <input type="submit" class="buttonAjout" />
               

                </div>

            </form>
            </section>
        </div>
    </div>
   


