@using Microsoft.AspNetCore.Identity
@using FilRouge_Test_CodeFirst.Data
@using FilRouge_Test_CodeFirst.Models

@model UserViewModel


@{
    ViewData["Title"] = "EditUser";
}

<h1>Edit</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="UserName" class="control-label">Nom</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailConfirmed" class="control-label">Confirmer votre email</label>
                <input type="text" placeholder="Confirme ton email" asp-for="EmailConfirmed" class="form-control" />
                <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label">Mots de passe</label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Numéro de téléphone</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumberConfirmed" class="control-label">Cofirmer votre Numéro</label>
                <input asp-for="PhoneNumberConfirmed" class="form-control" />
                <span asp-validation-for="PhoneNumberConfirmed" class="text-danger"></span>
            </div>


@*            <input type="hidden" asp-for="@Model.Quiz">
            @foreach (var rep in Model.Quiz)
            {

                <div class="form-group">
                    <input type="hidden" asp-for="@rep.QuizzId" />

                    <label asp-for="@rep.Name" class="control-label"> Choix :</label>

                    <input asp-for="@rep.Name" class="form-control" />
                    
                    <span asp-validation-for="@rep.Name" class="text-danger"></span>

                </div>
            }*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
