@model QuizViewModel


@{
    ViewData["Title"] = "AddQuiz";
    
}


<h1 style="text-align : center">Ajout d'un Quiz</h1>

@*<h4 style="text-align : center">Quiz</h4>*@
<hr />
<div class="container w-50" style="margin-top: 100px;" id="addQ">
    <div class="row align-items-center justify-content-center" >
    <div @*class="col-md-4"*@>
        <form asp-controller="Quiz" asp-action="AddQuiz">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Quiz.Name" class="control-label"></label>
                <input asp-for="@Model.Quiz.Name" class="form-control" />
                <span asp-validation-for="@Model.Quiz.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Quiz.Code" class="control-label"></label>
                <input asp-for="@Model.Quiz.Code" class="form-control" />
                <span asp-validation-for="@Model.Quiz.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Quiz.Average" class="control-label"></label>
                <label asp-for="@Model.Quiz.Average" class="control-label"></label>
                <input asp-for="@Model.Quiz.Average" class="form-control" />
                <span asp-validation-for="@Model.Quiz.Average" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelId" class="control-label"></label>
                <select asp-for="LevelId" asp-items="@Model.AllLevel" class="form-control">
                    <option value="None" id="Quiz.Level">---- Choix Level ---- </option>
                </select>
                <span asp-validation-for="@Model.Quiz.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sujetId" class="control-label"></label>
                <select asp-for="sujetId" asp-items="@Model.AllSujet" class="form-control">
                    <option value="None" id="Quiz.Sujet">---- Choix du Sujet ---- </option>
                </select>
                <span asp-validation-for="@Model.Quiz.Sujet" class="text-danger"></span>
            </div>
                <div class="form-group d-flex justify-content-between">
                <input type="submit" asp-action="AddQuiz" class="btn btn-primary" />
                    <div>
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
            </div>
              
        </form>
    </div>
</div>



</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
