@using static FilRouge_Test_CodeFirst.Data.Entity.Quiz
@model AddQuestionQuizViewModel

<h1 style="text-align : center">@Model.QuizAddQuestion.Name </h1>
<h2 style="text-align : center">
    Sujet : @Model.QuizAddQuestion.Sujet.SujetName</h2>

<h2 style="text-align : center">Liste des question avec le sujet : @Model.QuizAddQuestion.Sujet.SujetName</h2>

<div class="container">
  
       
<div class="row align-items-center">

<table class="table table-hover table-striped table-light">
    <thead>
        <tr class="table table-primary">
            <th>
                Intitulé de la question
            </th>
            <th>
                Level de la question
            </th>
            <th>
                Ajouter
            </th>
        </tr>
    </thead>
    <tbody>
        <form asp-controller="Quiz" asp-action="AddQuestionQuiz">
        @foreach (var ques in Model.QuestionList)
        {
                    <tr class="table">
                    <td>
                    @Html.DisplayFor(modelItem => ques.ContentQuestion)
                    </td>
                   <td>
                    @Html.DisplayFor(modelItem => ques.Level.LevelName)
                    </td>


                <td>
                    <input type="hidden" value="@Model.QuizAddQuestion.QuizzId" asp-for="@Model.QuizAddQuestion.QuizzId">
                    <input type="checkbox" value="@ques.QuestionId" name="IsCheckedQuestionID" id="@ques.QuestionId" />
                </td>
            </tr>
            }
     
         <input type="submit" value="Validée" class="myButton mb-6" style="width: auto;">

        </form>

    </tbody>
</table> 

</div>

    <a asp-action="Index" class="backButton">Retour à la liste</a>

</div>