@model FilRouge_Test_CodeFirst.Data.Entity.Quiz

@{
    ViewData["Title"] = "DeleteQuiz";
}

<h1 style="text-align : center">Supprimer Quiz</h1>
 
<h3 style="text-align : center">Êtes vous sur de supprimer ce Quiz ?</h3>
<div>
    
    <hr />
    <div class="container w-50 display-5" style="margin-top: 100px;" id="addQ">
        <dl class="row align-items-center justify-content-center text-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
            <hr style="width: 90%;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
            <hr style="width: 90%;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Average)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Average)
        </dd>
    </dl>

        <form asp-action="DeleteQuiz" class="text-center">
        <input type="hidden" asp-for="QuizzId" />
            <input type="submit" value="Delete" class="btn btn-danger" id="gros" /> |
            <a asp-action="Index" class="btn btn-primary" id="gros">Back to List</a>
    </form>
    
</div>
</div>
