@model FilRouge_Test_CodeFirst.Data.Entity.Quiz

@{
    ViewData["Title"] = "DetailQuiz";
}

<h1 style="text-align : center">DetailQuiz</h1>

<div>

    <div class="container w-50" style="margin-top: 100px;" id="addQ">
        <div class="row align-items-center justify-content-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sujet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sujet.SujetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level.LevelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class="col-sm-10">
            @Model.Questions.Count()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
            <ul class="ms-5">
        @foreach(var question in Model.Questions)
        {
                <li> @question.ContentQuestion </li>
                <li><a asp-controller="Questions" asp-action="Index">Voir les choix</a></li>
        }
        </ul>


    </dl>
</div>
        <div class="form-group d-flex justify-content-around">

            <a asp-action="EditQuiz" asp-route-id="@Model?.QuizzId" class="buttonAjout  mb-3">Edit</a>
            <a asp-action="AddQuestionQuiz" asp-route-id="@Model?.QuizzId" class="ajoutButton  mb-3">Ajouter des Questions</a>
            <a asp-action="Index" class="backButton mb-3">Retour à la liste</a>

</div>
    </div>
