@model IEnumerable<FilRouge_Test_CodeFirst.Data.Entity.Quiz>

<h1 style ="text-align : center">Page des Quiz</h1>

@*<button type="button" class="myButton mb-6">

    <a asp-action="AddQuiz" class="text-white">Ajouter un quiz</a>

</button>*@




<div class="container">
    <button type="button" class="myButton mb-6" onclick="window.location.href='@Url.Action("AddQuiz")'">
        Ajouter un quiz
    </button>
    <div class="row align-items-center">

        

        <table class="table table-hover table-striped table-light">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level.LevelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sujet.SujetName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr class="table">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Average)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level.LevelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sujet.SujetName)
                </td>
                <td>
                        <a asp-action="EditQuiz" asp-route-id="@item.QuizzId"><div class="buttonAjout">Edit </div></a> |
                            <a asp-action="DetailQuiz" asp-route-id="@item.QuizzId"><div class="buttonAjout2">Details</div></a> |
                            <a asp-action="DeleteQuiz" asp-route-id="@item.QuizzId"><div class="buttonAjout3">Supprimer</div></a>

                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
</div>