@model QuestionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align : center" >Création</h1>
<hr />
<div class="container w-50" style="margin-top: 100px;" id="addQ">
    <div class="row align-items-center justify-content-center">
    @*<div class="col-md-4">*@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LevelId" class="control-label"></label>
                <select asp-for="LevelId" asp-items="@Model.AllLevel" class="form-control">
                    <option value="None" id="Question.Level">---- Choix Level ---- </option>
                </select>
                <span asp-validation-for="@Model.question.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sujetId" class="control-label"></label>
                <select asp-for="sujetId" asp-items="@Model.AllSujet" class="form-control">
                    <option value="None" id="Question.Sujet">---- Choix du Sujet ---- </option>
                </select>
                <span asp-validation-for="@Model.question.Sujet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.question.ContentQuestion" class="control-label"></label>
                <input asp-for="@Model.question.ContentQuestion" class="form-control" />
                <span asp-validation-for="@Model.question.ContentQuestion" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Choix1" class="control-label"> Choix 1</label>
                <input asp-for="Choix1" class="form-control" />
                <input asp-for="IsCorrectChoix1" class="form-controle" />

               

                <span asp-validation-for="Choix1" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Choix2" class="control-label">Choix 2</label>
                <input asp-for="Choix2" class="form-control" />
                <input asp-for="IsCorrectChoix2" class="form-controle" />


                <span asp-validation-for="Choix1" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Choix3" class="control-label">Choix 3</label>           
                <input asp-for="Choix3" class="form-control" />
                <input asp-for="IsCorrectChoix3" class="form-controle" />

              


                <span asp-validation-for="Choix1" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Choix4" class="control-label">Choix 4</label>

                <input asp-for="Choix4" class="form-control" />

                <input asp-for="IsCorrectChoix4" class="form-controle" />

                <span asp-validation-for="Choix1" class="text-danger"></span>
            </div>
    
            <div class="form-group d-flex justify-content-between pt-4">

                <input type="submit" value="Create" class="buttonAjout mb-3" />

            
            <div>
                    <a asp-action="Index" class="backButton mb-3">Retour à la liste</a>

            </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
