@model FilRouge_Test_CodeFirst.Data.Entity.Question

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentQuestion)
        </dd>
<<<<<<< HEAD
        <dd class="col-sm-10">
            @foreach(var rep in Model.AnswerChoice)
            {
               <dt> @rep.ContentCorection </dt>
            }
        </dd>
=======
<<<<<<< HEAD
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Choix1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Choix1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Choix2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Choix2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Choix3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Choix3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Choix4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Choix4)
        </dd>*@
=======
        <dd class="col-sm-10">
            @foreach(var rep in Model.AnswerChoice)
            {
               <dt> @rep.ContentCorection </dt>
            }
        </dd>
>>>>>>> 80a4d066103dc3f0d8cf1b71c1308f80b5b8eaf7
>>>>>>> ae4399c48f0650e2ba0511a41cff6dc61c50adaa
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
