@model IEnumerable<FilRouge_Test_CodeFirst.Data.Entity.Question>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align : center">Index</h1>

@*<p>
    <a asp-action="Create">Création d'une nouvelle question</a>
</p>*@
<div class="container">
<button type="button" class="myButton mb-6" onclick="window.location.href='@Url.Action("Create")'">
    Création d'une nouvelle question
</button>
    <div class="row align-items-center">

<table class="table table-hover table-striped table-light">
    <thead>
                <tr class="table table-primary">
            <th>

                Intitulée de la question
            </th>
            <th>
                Choix 1
            </th>
            <th>
                Choix 2
            </th>
            <th>
                Choix 3
            </th>
            <th>
                Choix 4
            </th>
             <th>
                Level de la question
            </th>
            <th>
                Sujet de la question
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContentQuestion)
            </td>

                @foreach(var rep in item.AnswerChoice)
                {
                    if(rep.IsCorrect == true)
                    {
                     <td style="color:green">
                        @rep.ContentCorection
                     </td>
                    }
                    else
                    {
                    <td style="color:red" >
                        @rep.ContentCorection
                     </td> 
                    }

                }
               
            <td>
                @Html.DisplayFor(modelItem => item.Level.LevelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sujet.SujetName)
            </td>
            <td>
                            <a asp-action="Edit" asp-route-id="@item.QuestionId" class="buttonAjout ms-2">Edit</a>

                            <a asp-action="Details" asp-route-id="@item.QuestionId" class="buttonAjout2 ms-2">Details</a>

                            <a asp-action="Delete" asp-route-id="@item.QuestionId" class="buttonAjout3 ms-2">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
