@model IEnumerable<FilRouge_Test_CodeFirst.Data.Entity.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

                Intitulée de la question
            </th>
            <th>
                Choix 1
            </th>
            <th>
                Choix 2
            </th>
            <th>
                Choix 3
            </th>
            <th>
                Choix 4
            </th>
            <th>
                Level de la question
            </th>
            <th>
                Sujet de la question
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentQuestion)
                </td>

                @foreach (var rep in item.AnswerChoice)
                {
                    if (rep.IsCorrect == true)
                    {
                        <td style="color:green">
                            @rep.ContentCorection
                        </td>
                    }
                    else
                    {
                        <td style="color:red">
                            @rep.ContentCorection
                        </td>
                    }

                }

                <td>
                    @Html.DisplayFor(modelItem => item.Level.LevelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sujet.SujetName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |

                    <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |

                    <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
